/* ID */
#brand {
    margin-left: 1em;
    margin-right: 1em;
}

#topic-img {
    size: 1rem;
}

/* CLASS */
.navbar-style {
    margin-bottom: 1em;
    float: inline-end;
}

.search {
    min-width: 40rem;
    margin-left: 1em;
}

.list-group-horizontal {
    flex-direction: row;
}

.list-group-item {
    margin: 1rem;
}

.horrid {
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background-color:slategrey;
}

.subhorrid {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.horriditem {
    position:relative;
    display:block;
    padding:.75rem 1.25rem;
}